
<center>
    
<table>
    <tr><td><h2>使い方</h2></td></tr>
    <tr><td>1. サイズ表を追加します。</td></tr>
    <tr><td>2. 着用サイズがなければ追加します。</td></tr>
    <tr><td>3. 関連商品を追加します。</td></tr>
    <tr><td>4. 画像を追加します。</td></tr>
    <tr><td>5. ブランドが未登録なら、ブランドを登録しましょう。</td></tr>
    <tr><td>6. 最後に、商品を追加します。</td></tr>
    <tr><td>7. 商品の参照から出力でます。</td></tr>
</table>
<br>
<table>
    <tr><td><h2>コピーして作成する場合</h2></td></tr>
    <tr><td>1. 商品の参照から「コピー」します。</td></tr>
    <tr><td>2. 必要に応じてコピーした情報を編集します。</td></tr>
    <tr><td>3. サイズ表の参照からコピーして、商品番号を入力します。</td></tr>
    <tr><td>4. 関連商品を追加します。</td></tr>
    <tr><td>5. 画像を追加します。</td></tr>
    <tr><td>7. 最後に、商品の参照から出力でます。</td></tr>
</table>


</center>