<form action="/my-handling-form-page" method="post">
    <div>
        <label>品番</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label>http://image.rakuten.co.jp/auc-rodeo/cabinet/ironheart/</label>
        <input type="text" id="mail" />.jpg
    </div>
    <div>
        <select name="都道府県">
        <option value="1">北海道</option>
        <option value="2" selected>東京</option>
        <option value="3">沖縄</option>
        </select>
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg"></textarea>
    </div>
</form>