// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
    
    position:fixed;
    top:0px;
    left:0;
    background:#f7f8f7;
    
    
    h1 {
        font-size:16px;
        margin:0;
    }
    margin:0 auto;
    width:200px;
    text-align:center;
    
    td {
        
        border-bottom:1px solid rgb(200,200, 200);
        border-right:1px solid #ddd;
        background:linear-gradient(to bottom, #f7f8f7,#dddddd);
        
        &:hover {
          background:#ddd;  
        }
        
    }
    
    a {
        display:block;
        padding: 1em 0;
        color:#000;
        text-decoration:none;
    }
        
}


.rakutenSP {
    width:500px;
    margin:0 auto;
}

.red {
    color:red;
}

.wrapper700 {
    width:700px;
    margin:0 auto;
}