// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
    
    margin:0 auto;
    width:500px;
    text-align:center;
    
    td {
        
        &:hover {
          background:#ddd;  
        }
    }
    
    a {
        display:block;
        padding: 1em 0;
    }
        
}


.rakutenSP {
    width:500px;
    margin:0 auto;
}

.red {
    color:red;
}