// Place all the styles related to the Sizes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sizechart {
    
    border-collapse: collapse！important;
    
    input {
        width:90px!important;
        margin:0!important;
    }
}

.showSizeTable {
    border:1px solid #888;
    text-align: center;
    width:2000px;
    
    .brandLogo {
        width:100px;
    }
}

.showSizeTable td {
    border:1px solid #888;
    width: 150px;
    word-wrap: break-word;
    padding:1em 0;
}
